{% load i18n %}
{% load static %}
<!doctype html>
        <html>
            <head>
                <meta charset="utf-8">
                <link rel="stylesheet" href="{% static 'scooters/css/styles.css' %}">
            </head>
            <body>
                <ul class="navbar">
                  <li><a href="">{% trans 'Home Page' %}</a></li>
                  <li><a href="{% url 'scooter-list' %}">{% trans 'Scooter Offer' %}</a></li>
                  <li><a href="">{% trans 'About us' %}</a></li>
                  <li><a href="">{% trans 'Contact' %}</a></li>
                    {% if user.is_authenticated %}
                  <li class="dashboard-login"><a href="{% url 'user-dashboard' %}">{% trans 'User Dashboard' %}</a></li>
                    {% else %}
                  <li class="dashboard-login"><a href="{% url 'account_login' %}">{% trans 'Login/Register' %}</a></li>
                    {% endif %}
                </ul>
                {% block content %}
                {% endblock %}
            </body>
        </html>